body{ 
	height: 100%;
	font-weight: 600;
	line-height: 20px;
}

#playboard {
	display: none;
	height: 380px;
}

.bg {
	background-image: url("../images/Album-collage.jpg");

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-antwhite { background-color: antiquewhite;  }
.bg-ltsalmon { background-color: sienna; color: white; }

#artist
